@page "/user"

<h3>User</h3>

@if (@DataSource == null)
{
    <p><em>Loading...</em></p>
}
else
{

<DxDataGrid Data="@DataSource">

    <DxDataGridCommandColumn></DxDataGridCommandColumn>

    <DxDataGridColumn Field="@nameof(BagsKorisnik.Naziv)" Caption="Name"></DxDataGridColumn>

    @*<DxDataGridDateEditColumn Field="@nameof(BagsKorisnik.Naziv)" DisplayFormatString="D" EditFormatString="D">
        </DxDataGridDateEditColumn>*@
    @*<DxDataGridSpinEditColumn Field="@nameof(WeatherForecast.TemperatureC)" Caption="@("Temp. (\x2103)")"
        TextAlignment="DataGridTextAlign.Left"></DxDataGridSpinEditColumn>*@
    @*<DxDataGridComboBoxColumn Field="@nameof(WeatherForecast.WeatherType)" Caption="Cloudiness"
                                  DataAsync="@ForecastService.GetCloudinessAsync" TextAlignment="DataGridTextAlign.Left"></DxDataGridComboBoxColumn>
        <DxDataGridCheckBoxColumn Field="@nameof(WeatherForecast.Precipitates)"></DxDataGridCheckBoxColumn>*@
</DxDataGrid>
}